<div class="cards-container">
  <app-card [planType]="'Simples'"
    [planPrice]="100"
    [cardStyle]="'orange'"
    (buttonClicked)="onCardButtonClicked()"
  />
  <br />
  <app-card [planType]="'Completo'"
    [planPrice]="250"
    [cardStyle]="'purple'"
    (buttonClicked)="onCardButtonClicked()"
    />
  <br />
  <app-card [planType]="'Intermediario'"
    [planPrice]="200"
    [cardStyle]="'blue'"
    (buttonClicked)="onCardButtonClicked()"
    />
</div>
<br>
<div class="cards2-container">
  <app-card2 [planType2]="'Simples'" [card2Style]="'bisque'"/>
  <app-card2 [planType2]="'Completo'" [card2Style]="'aqua'"/>
</div>