.cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 0 auto;
}

.cards2-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 0 auto;
}